@model PmspProjeto.Models.Servidor
@{
    ViewData["title"] = "Detalhes";
}

    
    <div class="row" style="padding: 10px">
        <a asp-controller="Home" asp-action="Editar" asp-route-id="@Model.Id" data-original-title="Editar este servidor" data-toggle="tooltip" type="button" class="pull-right btn btn-sm btn-warning">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a asp-controller="Home" asp-action="Deletar" asp-route-id="@Model.Id" data-original-title="Excluir este servidor" data-toggle="tooltip" class="pull-right btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><h3>Dados Pessoais</h3></li>
        <li class="list-group-item">Nome: @Model.Nome </li>
        <li class="list-group-item">Email: @Model.Email</li>
        <li class="list-group-item">Data de Nascimento: @Model.DataNascimento</li>
        <li class="list-group-item">Endereco: @Model.EndLogradouro, @Model.EndNumero CEP: @Model.EndCEP - @Model.EndBairro</li>
        <li class="list-group-item"><h3>Dados Funcionais</h3></li>
        <li class="list-group-item">RF: @Model.RF</li>
        <li class="list-group-item">Vinculo: @Model.Vinculo</li>
        <li class="list-group-item">Cargo: @Model.Cargo</li>
        <li class="list-group-item">Unidade de Lotação: @Model.UnidadeLotacao</li>
        <li class="list-group-item">Unidade de exercicio: @Model.UnidadeExercicio</li>
    </ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>